	/* PC Version */

	/* Start page */
@media screen and (min-width: 1440px){
	/* Block navigation */
	.menu li {
		padding-left: 160px;
}
	/* Block Information */
	.like img {
 	margin-left: 300px;
}
	.block-information {
 	padding: 0 100px 0 100px;
}
	/* Block test */
	.gallery{
 	margin-left: 380px;
 	margin-right: auto;
}
}