/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/

header {
    margin-top: 10px;
    color: black;
    display: flex;
}
.logo{
    padding-left: 60px;
    margin-top: 5px;
    padding-right: 180px;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo, .menu {
    vertical-align: middle;
    display: inline-block;
}
.menu a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-family: arial;
    font-size: 18px;

}
.menu li {
    padding-left: 80px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;

}
.menu a:hover{
	border-bottom:3px solid #fcac45;
}
.menu ul{
    margin-left: 500px;

}
.login a:hover{
	border-bottom:none;
	color: white;
}
.login a{
	border-bottom: none;
	margin-left: 80px;
	padding: 15px 45px 15px 45px;
  color: black;
  box-shadow:  white;
  background: #fcac45;
	border-radius: 30px;
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
	border: none;
}
/*-------------------------------------------------------*/
/* INFORMATION
/*-------------------------------------------------------*/


.block-information {
    padding-top: 100px;
    padding-left: 100px;
    font-family: Arial;
    display: inline-flex;
}

.text_info {
    display: inline-block;
}

.text_info li {
    color: #fcac45;
    font-size: 20px;
   }
.text_info span {
    color: black;
   }


.like img {
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 50px;
    width: 450px;
    height: 410px;
}