/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/

header {
    margin-top: 10px;
    color: black;
    display: flex;
}
.logo{
    padding-left:30px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-top: -9px;
}

.logo, .menu {
    vertical-align: middle;
    display: inline-block;
}
.menu a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-family: arial;
    font-size: 18px;

}
.menu li {
    padding-left: 80px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;

}
.menu a:hover{
	border-bottom:3px solid #fcac45;
}
.menu ul{
    margin-left: 500px;

}
.login a:hover{
	border-bottom:none;
	color: white;
}
.login a{
	border-bottom: none;
	margin-left: 80px;
	padding: 15px 45px 15px 45px;
  color: black;
  box-shadow:  white;
  background: #fcac45;
	border-radius: 30px;
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
	border: none;
}
